<fpl-layout>
  <h1 class="title">User Page</h1>

  <div *ngIf="user$ | async; let user">
    <div class="user-details">
      <div>Name:</div>
      <div>{{user.name}}</div>
    </div>
    <div class="user-details">
      <div>Email:</div>
      <div>{{user.email}}</div>
    </div>
    <div class="user-details">
      <div *ngIf="user.groups.length; else noGroups">
        User is member of groups:
      </div>
      <ng-template #noGroups
        ><div class="error">
          User is not a member of any group.
        </div></ng-template
      >
      <div class="groups-list">
        <ng-container *ngFor="let group of user.groups">
          <a [routerLink]="'/' + EROUTES.GROUPS + '/' + group.id"
            >{{group.name}}</a
          >
        </ng-container>
      </div>
    </div>
    <div class="user-details" *ngIf="user.description">
      Description: {{user.description}}
    </div>

    <br />

    <button
      *ngIf="editEnabled"
      (click)="onToggleEditForm()"
      mat-raised-button
      color="primary"
    >
      Edit Details
    </button>

    <br />
    <br />

    <fpl-user-edit
      *ngIf="showEditUserForm && (allGroups$ | async); let allGroups"
      [name]="user.name"
      [allGroups]="allGroups"
      [description]="user.description"
      (updateUser)="onUpdateUser($event)"
    ></fpl-user-edit>
  </div>
</fpl-layout>
