<fpl-layout>
  <h1>Users Page</h1>

  <table
    *ngIf="dataSource.length; else noData"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    aria-describedby="Users table"
  >
    <!-- Order Column -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef>Num.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}.</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="'/' + EROUTES.USERS + '/' + element._id"
          >{{element.name}}</a
        >
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">
        {{element.role || EROLES.USER}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      [class.colored]="row._id === thisId"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>

  <ng-template #noData><div>Data is loading...</div></ng-template>
</fpl-layout>
