.form-wrapper {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h1 {
        margin-top: 0;
    }
}

mat-form-field {
    width: 100%;
}
